* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'calibri';
}
.formulario-registro {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.formulario-titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}
.formulario-input, .formulario-label, .formulario-submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formulario-input {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.formulario-input :focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}
.formulario-input:focus + .formulario-label {
    margin-top: -135px;
}
.formulario-label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}
.formulario-submit {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.formulario-registro p {
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.formulario-registro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.formulario-registro a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.formulario-submit {
    width: 100%;
    background: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 25px;
}
.fijar {
    margin-top: -135px;
}